{% extends 'RottenwoodUtopiaMudBundle:Default:index.html.twig' %}

{% block game %}
    {#{% if error %}#}
    {#<div>{{ error.message }}</div>#}
    {#{% endif %}#}

{#<form action="{{ path('login_check') }}" method="post">#}
    {#<label for="username">Username:</label>#}
    {#<input type="text" id="username" name="_username" value="{{ last_username }}" />#}

    {#<label for="password">Password:</label>#}
    {#<input type="password" id="password" name="_password" />#}

    {#&#123;&#35; URL на который перенаправляется пользователь &#35;&#125;#}
    {#<input type="hidden" name="_target_path" value="/"/>#}

    {#<input type="submit" name="login"/>#}
    {#</form>#}

    {#{{ form(form) }}#}


{% endblock game %}

{% block chat %}{% endblock chat %}
