parameters:
    rottenwood_utopia_mud.command.class: Rottenwood\UtopiaMudBundle\Example
    security.authentication.success_handler.class: Rottenwood\UtopiaMudBundle\Handler\LoginSuccessHandler

services:
    # PDO services
    pdo:
        class: PDO
        arguments:
            - "mysql:host=%database_host%;dbname=%database_name%"
            - "%database_user%"
            - "%database_password%"
        calls:
            - [setAttribute, [3, 2]] # \PDO::ATTR_ERRMODE, \PDO::ERRMODE_EXCEPTION

    session.handler.pdo:
        class:     Symfony\Component\HttpFoundation\Session\Storage\Handler\PdoSessionHandler
        arguments: ["@pdo", "%pdo.db_options%"]
    utopiamud_user.registration.form.type:
        class: Rottenwood\UtopiaMudBundle\Form\Type\RegistrationFormType
        arguments: [%fos_user.model.user.class%]
        tags:
            - { name: form.type, alias: utopiamud_user_registration }
    security.authentication.customized_success_handler:
        class: %security.authentication.success_handler.class%
        public: false
        arguments:  [@router, @security.context]
    # Главный командный сервис
    command:
        class:  Rottenwood\UtopiaMudBundle\Service\CommandService
        arguments:  [@kernel, @commandaction, @commandsystem]
    # Сервис команд действия
    commandaction:
        class:  Rottenwood\UtopiaMudBundle\Service\CommandActionService
        arguments:  [@service_container, @doctrine.orm.entity_manager]
    # Сервис служебных команд
    commandsystem:
        class:  Rottenwood\UtopiaMudBundle\Service\CommandSystemService
        arguments:  [@kernel, @doctrine.orm.entity_manager]
    # Сервис игроков, находящихся онлайн
    datachannel:
        class:  Rottenwood\UtopiaMudBundle\Service\DataChannelService
        arguments:  []

    # Сервис вебсокетов
    websocket:
        class:  Rottenwood\UtopiaMudBundle\Service\WebsocketPusherService
        arguments:  [@service_container]