parameters:
  rottenwood_utopia_mud.command.class: Rottenwood\UtopiaMudBundle\Example

services:
  command:
    class:      Rottenwood\UtopiaMudBundle\Service\CommandService
    arguments:  [@doctrine.orm.entity_manager]
#
#  calendar:
#    class: Rottenwood\BillingBonesBundle\Service\Calendar
#    arguments: [%calendar.mood%]
#    rottenwood_utopia_mud.example:
#        class: %rottenwood_utopia_mud.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
