parameters:
    rottenwood_utopia_mud.command.class: Rottenwood\UtopiaMudBundle\Example
    security.authentication.success_handler.class: Rottenwood\UtopiaMudBundle\Handler\LoginSuccessHandler

services:
    utopiamud_user.registration.form.type:
        class: Rottenwood\UtopiaMudBundle\Form\Type\RegistrationFormType
        arguments: [%fos_user.model.user.class%]
        tags:
            - { name: form.type, alias: utopiamud_user_registration }
    security.authentication.customized_success_handler:
        class: %security.authentication.success_handler.class%
        public: false
        arguments:  [@router, @security.context]
    # Главный командный сервис
    command:
        class:      Rottenwood\UtopiaMudBundle\Service\CommandService
        arguments:  [@doctrine.orm.entity_manager, @kernel, @commandaction, @commandsystem]
    # Сервис команд действия
    commandaction:
        class:      Rottenwood\UtopiaMudBundle\Service\CommandActionService
        arguments:  [@service_container, @doctrine.orm.entity_manager]
    # Сервис служебных команд
    commandsystem:
        class:      Rottenwood\UtopiaMudBundle\Service\CommandSystemService
        arguments:  [@service_container, @kernel, @doctrine.orm.entity_manager]
