{% extends 'RottenwoodUtopiaMudBundle:Default:layout.html.twig' %}

{% block content %}
    <div id="header"></div>
    <div id="game">
        {% block game %}
            {% block websocket %}
                <script type="text/javascript">var hash = '{{ hash }}';</script>
            {% endblock websocket %}
        {% endblock game %}
    </div>
    <div id="chat">
        {% block chat %}
            <form id="chatform" action="ajax" method="post">
                <input id="chatinput" autocomplete="off" name="chat" type="text">
            </form>
        {% endblock chat %}
    </div>
{% endblock content %}