{% extends 'RottenwoodUtopiaMudBundle:Default:layout.html.twig' %}

{% block content %}
    <div id="header"></div>
    <div id="game">
        {% block game %}
            {% block ajax %}
                <script type="text/javascript">
                    $('#game').append("<br><span class='plaintext'>Добро пожаловать в Миры Утопии!</span><br>");
                    $.post("ajax/", { chat: "look" },
                            function(data){
                                processJson(data);
                            }, "json");
                </script>
            {% endblock ajax %}
        {% endblock game %}
    </div>
    <div id="chat">
        {% block chat %}
        <form id="chatform" action="ajax" method="post">
            <input id="chatinput" autocomplete="off" name="chat" type="text">
        </form>
        {% endblock chat %}
    </div>
{% endblock content %}