<html>
<head></head>
<body>
<script src="http://autobahn.s3.amazonaws.com/js/autobahn.min.js"></script>
<script type="text/javascript">var hash = '{{ hash }}';</script>
<script>
    var conn = new ab.Session('ws://localhost:8080',
            function() {
                conn.subscribe('system.channel', function(topic, data) {
                    // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                    console.log('New article published to category "' + topic + '" : ' + data.title);
                });
                conn.subscribe('personal.' + hash, function(topic, data) {
                    // This is where you would add the new article to the DOM (beyond the scope of this tutorial)
                    console.log('PERSONAL "' + topic + '" : ' + data.title);
                });

                conn.publish('system.channel', "HASH:::" + hash);
                conn.publish('personal.' + hash, "CMD::look");
            },
            function() {
                console.warn('WebSocket connection closed');
            },
            {'skipSubprotocolCheck': true}
    );
</script>
</body>
</html>